<div class="container__big-card">
	<div class="big-card__photo">
		<a href="#">
			<img
				src="https://placehold.co/400x200/violet/white?text=image"
				alt=""
			/>
		</a>
	</div>

	<div class="big-card__title">
		<h2><a href="#">Saiu a nova versao do angular</a></h2>
	</div>

	<div class="big-card__description">
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium
			vel ipsa officiis velit soluta rerum doloremque, magnam tempora nostrum
			excepturi aperiam obcaecati vero voluptatum dignissimos.
	</div>
</div>
